<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/myApp.css"/>
    <script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Student</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="/StudentApp/student">SpringBoot 101</a>
        </div>
        <!--<div id="navbar" class="collapse navbar-collapse">-->
        <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="#">Home</a></li>-->
        <!--<li><a href="#about">About</a></li>-->
        <!--<li><a href="#contact">Contact</a></li>-->
        <!--</ul>-->
        <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    </div>
</nav>
<div class="container">

    <div class="starter-template">

        <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Create Student</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->

            <!--</div>-->
        <!--</div>-->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create Student</h3>
            </div>
            <div class="panel-body">
                <form action="#" th:action="@{/StudentApp/create/}" method="POST" th:object="${student}">
                    Name : <input type="text" th:field="*{name}" placeholder="1 to 20 characters long" class="form-control"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error - Name cannot be empty and
                        length must be
                        between range 1-20</p><br/>

                    Phone : <input type="text" th:field="*{phone}" placeholder="3 characters long" class="form-control"/><br/>
                    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Name Error - Phone cannot be empty and
                        length must be
                        3 digits</p>

                    <input type="submit" value="Create" class="btn btn-primary"/>

                </form>
            </div>
        </div>

        <!--<h1></h1>-->

        <br/>

        <div class="panel panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title">List of students</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>PHONE</th>
                <th>Delete (GET)</th>
                <th>Delete (POST)</th>
                <th>Edit (POST)</th>
                </thead>
                <tbody>

                <tr th:each="student : ${students}">
                    <td th:text="${student.id}">X</td>
                    <td th:text="${student.name}">X</td>
                    <td th:text="${student.phone}">X</td>
                    <td><a th:href="@{/StudentApp/delete(id=${student.id})}">Delete</a></td>
                    <td>
                        <form th:action="@{/StudentApp/delete/}" method="post" action="#">
                            <input type="hidden" name="delete_id" th:value="${student.id}" value=""/><input type="submit"
                                                                                                            value="Delete"/>
                        </form>
                    </td>
                    <td>
                        <!--<td><a th:href="@{/StudentApp/edit(id=${student.id})}">Edit</a></td>-->
                        <form th:action="@{/StudentApp/showEdit/}" method="post" action="#">
                            <input type="hidden" name="edit_id" th:value="${student.id}" value=""/><input type="submit"
                                                                                                          value="Edit"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>

        <!--<div th:switch="${delete_status}">-->
        <!--<p th:case="success">Student deleted successfully !</p>-->
        <!--</div>-->
        <!--<h1>List of students</h1>-->
        <!--<ul th:each="student : ${students}">-->
        <!--<li th:text="'NAME : '+${student.name}+' ; PHONE : '+${student.phone}+' ; ID : '+${student.id} ">alt.</li>-->
        <!--</ul>-->

        <br/>
        <div class="panel panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title">List of Students with Even ID (Custom Query)</h3>
        </div>
        <div class="panel-body">
            <div th:if="${!evenStudents.empty}">
                <ul th:each="student : ${evenStudents}">
                    <li th:text=" 'Id : '+${student.id} ">X</li>
                    <li th:text=" 'Name : '+${student.name} ">X</li>
                    <li th:text=" 'Phone : '+${student.phone} ">X</li>

                </ul>
            </div>
            <div th:if="${evenStudents.empty}">
                No student found with even id
            </div>


        </div>
        </div>


        <!--<h1>List of Students with Even ID (Custom Query)</h1>-->

    </div>

</div>
</body>
</html>